body,
html {
  font-family: 'Noto Sans', sans-serif;
  height: 100%;
  background-color: #1a1a1a;
  color: #fafafa;
}

h1 {
  text-align: center;
}

.pokemon-canvas {
  margin: auto 2em;
  text-align: center;
}

.find-pokemon-img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90vh;
}

.select-box {
  width: 80px;
  height: 80px;
  border: 3px solid red;
  position: absolute;
}

.select-found {
  width: 80px;
  height: 80px;
  border: 3px solid #00ff03;
  position: absolute;
}

.pokemon-select {
  position: relative;
  top: 85px;
  width: 87px;
}

.div {
  position: absolute;
}

.hidden {
  display: none;
}
